In [23]:
# postprocess pixtral
import pandas as pd
import csv
import os

In [5]:
parent_dir = "benchmarking_val/outputs/mistralai_pixtral-12b-2409"
files = os.listdir(parent_dir)
files = [x for x in files if x.startswith("mistralai_pixtral")]
files

['mistralai_pixtral-12b-2409_val_output_setting_1.csv',
 'mistralai_pixtral-12b-2409_val_output_setting_3.csv',
 'mistralai_pixtral-12b-2409_val_output_setting_2.csv',
 'mistralai_pixtral-12b-2409_val_output_setting_4.csv']

In [24]:
# Save csv without duplicates
def clean_from_duplicates(file_path): 
    file_path = os.path.join(parent_dir, file_path)
    df = pd.read_csv(file_path, delimiter="\t")
    print(f"Loaded dataframe: {file_path} with {len(df)} rows.")
    df.drop_duplicates(inplace=True)
    print(f"Removed duplicate rows. Kept: {len(df)} rows.")
    df.to_csv(file_path, sep="\t", index=False, quoting=csv.QUOTE_ALL)

In [25]:
for file in files: 
    clean_from_duplicates(file)

Loaded dataframe: benchmarking_val/outputs/mistralai_pixtral-12b-2409/mistralai_pixtral-12b-2409_val_output_setting_1.csv with 3218 rows.
Removed duplicate rows. Kept: 3217 rows.
Loaded dataframe: benchmarking_val/outputs/mistralai_pixtral-12b-2409/mistralai_pixtral-12b-2409_val_output_setting_3.csv with 3216 rows.
Removed duplicate rows. Kept: 3216 rows.
Loaded dataframe: benchmarking_val/outputs/mistralai_pixtral-12b-2409/mistralai_pixtral-12b-2409_val_output_setting_2.csv with 3218 rows.
Removed duplicate rows. Kept: 3216 rows.
Loaded dataframe: benchmarking_val/outputs/mistralai_pixtral-12b-2409/mistralai_pixtral-12b-2409_val_output_setting_4.csv with 3216 rows.
Removed duplicate rows. Kept: 3216 rows.

In [27]:
file_path = os.path.join(parent_dir, files[0])
df = pd.read_csv(file_path, delimiter="\t")
print(f"Loaded dataframe: {file_path} with {len(df)} rows.")
df.drop_duplicates(inplace=True)
print(f"Removed duplicate rows. Kept: {len(df)} rows.")

Loaded dataframe: benchmarking_val/outputs/mistralai_pixtral-12b-2409/mistralai_pixtral-12b-2409_val_output_setting_1.csv with 3217 rows.
Removed duplicate rows. Kept: 3217 rows.

In [28]:
df.idx.value_counts()

203     2
0       1
2149    1
2139    1
2140    1
       ..
1075    1
1076    1
1077    1
1078    1
3215    1
Name: idx, Length: 3216, dtype: int64

In [29]:
df.query("idx==203")

,idx,input,output,subject
203,203,Question: How long is a soccer field?\n Task: ...,"{{""answer"":""115 meters"",""solution"":""The most l...",natural science
204,203,Question: How long is a soccer field?\n Task: ...,"{""answer"": ""115 meters"", ""solution"": ""To bette...",natural science

In [30]:
# Note: I manually modify the csv to only contain the second output (204). Both outputs are saved to a separate file for furter investigation